@model Movie_App_2._0.Models.ViewModels.DetailsReview


@{
    ViewBag.Title = "View";
}

<a href="/Review/List">Go back</a>
<br />
<a href="/Review/Edit/@Model.SelectedReview.ReviewID">Update</a>
<br />
<a style="color:#ab2020;" href="/Review/DeleteConfirm/@Model.SelectedReview.ReviewID">Delete</a>
<h2>Rating: @Model.SelectedReview.ReviewTitle</h2>
<div>Status: @Model.SelectedReview.AlreadyPosted</div>


<div style="margin-top:100px;">
    <h3>Movies related to this reviews</h3>
    @foreach (var movie in Model.RelatedMovie)
    {
        <a href="/Movie/Details/@movie.MovieID">@movie.MovieTitle</a>

    }
</div>