@model IEnumerable<Movie_App_2._0.Models.ReviewDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Review/New">New Review</a>
@foreach (var Review in Model)
{
    <h2><a href="/Species/Details/@Review.ReviewID">@Review.ReviewTitle</a></h2>
    <div>Endangered: @Review.AlreadyPosted</div>

}

