@model IEnumerable<Movie_App_2._0.Models.ReviewDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Movie/List">Go back to Movie List</a>
<br/>
<a href="/Review/New">New review</a>
@foreach (var review in Model)
{
    <h2><a href="/Review/Details/@review.ReviewID">@review.ReviewTitle</a></h2>
    <div>Status: @review.AlreadyPosted</div>

}

