
@{
    ViewBag.Title = "Create";
}

<h2>Create Reviewer</h2>
<form action="/Reviewer/Create" method="POST">
    <div>
        <label>First Name:</label> <input type="text" name="ReviewerFirstNam" />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="ReviewerLastName" />
    </div>
    <div>
        <input type="submit" value="Create Reviewer" />

    </div>
</form>

