@model IEnumerable<Movie_App_2._0.Models.ReviewerDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Movie/List">Go back to Movie List</a>
<br />
<a href="/Reviewer/New">New reviewer</a>
@foreach (var review in Model)
{
    <<h2><a href="/Reviewer/Details/@review.ReviewerID">@review.ReviewerLastName, @review.ReviewerFirstName></a></h2>

}