@model Movie_App_2._0.Models.MovieDto
@{
    ViewBag.Title = "View";
}

<h2>View</h2>


<a href="/Movie/List">Go back to list</a>
<h2>@Model.MovieTitle</h2>
<div>Country: @Model.MovieOrigin (Origin)</div>
<div>Comment: @Model.ReviewTitle</div>
