@model IEnumerable<Movie_App_2._0.Models.MovieDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach (var movie in Model)
{
    <h2><a href="/Movie/Details/@movie.MovieID"> @movie.MovieTitle</a></h2>
    <div>Country: @movie.MovieOrigin (Origin)</div>
    <div>Comment: @movie.ReviewTitle</div>
}