@model IEnumerable<Movie_App_2._0.Models.MovieDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Movie/New">New Movie</a>
<br />
<a href="/Review/List">List Review</a>
<br/>
<a href="/Reviewer/List">List Reviewer</a>
@foreach (var movie in Model)
{
    <h2><a href="/Movie/Details/@movie.MovieID"> @movie.MovieTitle</a></h2>
    <div>Country: @movie.MovieOrigin (Origin)</div>
    <div>Review: @movie.ReviewTitle</div>
}