@model IEnumerable<Movie_App_2._0.Models.ReviewDto>
@{
    ViewBag.Title = "Create";
}

<h2>Create Movie</h2>
<form action="/Movie/Create" method="POST">
    <div>
        <label>Movie Title:</label> <input type="text" name="MovieTitle" />
    </div>
    <div>
        <label>Movie Origin:</label> <input type="text" name="MovieOrigin" />
    </div>
    <div>
        <label>Reviews:</label>
        <select name="ReviewID">
            @foreach (var review in Model)
            {
                <option value="@review.ReviewID">@review.ReviewTitle</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Movie" />
    </div>
</form>

